/* 웹폰트 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모든 폰트를 웹폰트로 변경 */
*{ font-family: 'yg-jalnan';  }

.pointbox{ color: red }

.body1 {
background-image: url(/img/mainbanner2.png);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
}

.body2{
background-image: url(/img/mainbanner1.png);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;

}

.text-box {
  background-color: navy ;
  padding: 30px;
  border-radius: 9px;
  display: inline-block;
  font-size: 20px;
  }



